{#{% set message = {#}
    {#title: 'test',#}
    {#startDate: '2018-02-18',#}
    {#endDate: '2018-02-19',#}
    {#startTime: '22:53:05',#}
    {#endTime: '22:53:05',#}
    {#eventPhone: '585-503-8888',#}
    {#venueWebsite: 'cuffney.com',#}
    {#contactName: 'test',#}
    {#eventAddress: '123 Main Street',#}
    {#venue: 'Test Venue',#}
    {#body: 'description'#}
{#} %}#}

{% macro timeOptions() %}
    <option value="5:00 AM" selected>5:00 AM</option>
    <option value="5:15 AM">5:15 AM</option>
    <option value="5:30 AM">5:30 AM</option>
    <option value="5:45 AM">5:45 AM</option>

    <option value="6:00 AM">6:00 AM</option>
    <option value="6:15 AM">6:15 AM</option>
    <option value="6:30 AM">6:30 AM</option>
    <option value="6:45 AM">6:45 AM</option>

    <option value="7:00 AM">7:00 AM</option>
    <option value="7:15 AM">7:15 AM</option>
    <option value="7:30 AM">7:30 AM</option>
    <option value="7:45 AM">7:45 AM</option>

    <option value="8:00 AM">8:00 AM</option>
    <option value="8:15 AM">8:15 AM</option>
    <option value="8:30 AM">8:30 AM</option>
    <option value="8:45 AM">8:45 AM</option>

    <option value="9:00 AM">9:00 AM</option>
    <option value="9:15 AM">9:15 AM</option>
    <option value="9:30 AM">9:30 AM</option>
    <option value="9:45 AM">9:45 AM</option>

    <option value="10:00 AM">10:00 AM</option>
    <option value="10:15 AM">10:15 AM</option>
    <option value="10:30 AM">10:30 AM</option>
    <option value="10:45 AM">10:45 AM</option>

    <option value="11:00 AM">11:00 AM</option>
    <option value="11:15 AM">11:15 AM</option>
    <option value="11:30 AM">11:30 AM</option>
    <option value="11:45 AM">11:45 AM</option>

    <option value="12:00 PM">12:00 PM</option>
    <option value="12:15 PM">12:15 PM</option>
    <option value="12:30 PM">12:30 PM</option>
    <option value="12:45 PM">12:45 PM</option>

    <option value="1:00 PM">1:00 PM</option>
    <option value="1:15 PM">1:15 PM</option>
    <option value="1:30 PM">1:30 PM</option>
    <option value="1:45 PM">1:45 PM</option>

    <option value="2:00 PM">2:00 PM</option>
    <option value="2:15 PM">2:15 PM</option>
    <option value="2:30 PM">2:30 PM</option>
    <option value="2:45 PM">2:45 PM</option>

    <option value="3:00 PM">3:00 PM</option>
    <option value="3:15 PM">3:15 PM</option>
    <option value="3:30 PM">3:30 PM</option>
    <option value="3:45 PM">3:45 PM</option>

    <option value="4:00 PM">4:00 PM</option>
    <option value="4:15 PM">4:15 PM</option>
    <option value="4:30 PM">4:30 PM</option>
    <option value="4:45 PM">4:45 PM</option>

    <option value="5:00 PM">5:00 PM</option>
    <option value="5:15 PM">5:15 PM</option>
    <option value="5:30 PM">5:30 PM</option>
    <option value="5:45 PM">5:45 PM</option>

    <option value="6:00 PM">6:00 PM</option>
    <option value="6:15 PM">6:15 PM</option>
    <option value="6:30 PM">6:30 PM</option>
    <option value="6:45 PM">6:45 PM</option>

    <option value="7:00 PM">7:00 PM</option>
    <option value="7:15 PM">7:15 PM</option>
    <option value="7:30 PM">7:30 PM</option>
    <option value="7:45 PM">7:45 PM</option>

    <option value="8:00 PM">8:00 PM</option>
    <option value="8:15 PM">8:15 PM</option>
    <option value="8:30 PM">8:30 PM</option>
    <option value="8:45 PM">8:45 PM</option>

    <option value="9:00 PM">9:00 PM</option>
    <option value="9:15 PM">9:15 PM</option>
    <option value="9:30 PM">9:30 PM</option>
    <option value="9:45 PM">9:45 PM</option>

    <option value="10:00 PM">10:00 PM</option>
    <option value="10:15 PM">10:15 PM</option>
    <option value="10:30 PM">10:30 PM</option>
    <option value="10:45 PM">10:45 PM</option>

    <option value="11:00 PM">11:00 PM</option>
    <option value="11:15 PM">11:15 PM</option>
    <option value="11:30 PM">11:30 PM</option>
    <option value="11:45 PM">11:45 PM</option>
{% endmacro %}

<section class="row mt-3" style="display: none" id="event-submission-thanks">
    <div class="col-xs-12 col-md-6 col-md-offset-3 text-center mt-5">
        <h3>Thanks!</h3>
        <p>We'll take a look and get it on our event calender!</p>
    </div>
</section>

<div class="container" id="event-submission-container">


    <div class="row mt-3 ">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-center mt-5">
            <h3>Event Submission</h3>
            <p>Do you know of an event going on in the area that you want to
                share? We'd love to help you get the word out!</p>
            <p>Just enter the specified information below and we'll take a look
                and get it on our event calender.</p>
        </div>
    </div>

    {#<form method="post" action="" accept-charset="UTF-8"#}
    {#id="marquee-submission-form" enctype="multipart/form-data">#}
    {#{{ getCsrfInput() }}#}
    {#<input type="hidden" name="action" value="guestEntries/saveEntry">#}
    {# NOTE: 13 is the sectionId of "Marquees" #}
    {#<input type="hidden" name="sectionId" value="4">#}
    {#</form>#}

    <div class="row">
        <div class="col-xs-12">

            <form method="post" action="" accept-charset="UTF-8"
                  id="event-submission-form" enctype="multipart/form-data">
                {{ getCsrfInput() }}
                <input type="hidden" name="action"
                       value="guestEntries/saveEntry">
                {#<input type="hidden" name="redirect" value="/thanks">#}
                {# NOTE: 13 is the sectionId of "Events" #}
                <input type="hidden" name="sectionId" value="13">

                <h3 class="m-0 mb-3">Event Information</h3>

                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Title<sup>*</sup></label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control" name="title"
                               placeholder="Title"
                               value="{% if message is defined %}{{ message.title }}{% endif %}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="startDate"
                           class="col-xs-12 col-sm-3 form-control-label">Start
                        Date</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="date form-control"
                               id="startDate"
                               name="fields[upcomingEvents][startDate][date]"
                               placeholder="1/1/2018"
                               value="{% if message is defined %}{{ message.startDate }}{% endif %}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="endDate"
                           class="col-xs-12 col-sm-3 form-control-label">End
                        Date</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="date form-control"
                               id="endDate"
                               name="fields[upcomingEvents][endDate][date]"
                               placeholder="1/1/2018"
                               value="{% if message is defined %}{{ message.endDate }}{% endif %}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Start
                        Time</label>
                    <div class="col-xs-12 col-sm-9">
                        <select name="fields[upcomingEvents][startDate][time]"
                                class="form-control">
                            {{ _self.timeOptions() }}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">End
                        Time</label>
                    <div class="col-xs-12 col-sm-9">
                        <select name="fields[upcomingEvents][endDate][time]"
                                class="form-control">
                            {{ _self.timeOptions() }}
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Contact Name</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control"
                               name="fields[contactName]"
                               placeholder="Contact Name"
                               value="{% if message is defined %}{{ message.contactName }}{% endif %}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Phone</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="phone form-control"
                               name="fields[eventPhone]"
                               placeholder="(541) 123-4567"
                               value="{% if message is defined %}{{ message.eventPhone }}{% endif %}">
                    </div>
                </div>

                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Website</label>
                    <div class="col-xs-12 col-sm-9">
                        <input type="text" class="form-control"
                               name="fields[venueWebsite]"
                               placeholder="https://discoverklamath.com"
                               value="{% if message is defined %}{{ message.venueWebsite }}{% endif %}">
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Address</label>
                    <div class="col-xs-12 col-sm-9">
                        <textarea class="form-control"
                                  name="fields[eventAddress]"
                                  placeholder="123 Main Street, Klamath Falls OR ">{% if message is defined %}{{ message.eventAddress }}{% endif %}</textarea>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Venue</label>
                    <div class="col-xs-12 col-sm-9">
                        <input class="form-control" name="fields[venue]"
                               type="text"
                               value="{% if message is defined %}{{ message.venue }}{% endif %}"
                               placeholder="Venue Name"/>
                    </div>
                </div>


                <div class="form-group row">
                    <label for="inputName"
                           class="col-xs-12 col-sm-3 form-control-label">Description</label>
                    <div class="col-xs-12 col-sm-9">
                        <textarea class="form-control"
                               name="fields[body]" placeholder="Describe the event here">{% if message is defined %}{{ message.body }}{% endif %}</textarea>
                    </div>
                </div>

                {#<div class="form-group row img">#}
                    {#<label for="inputName"#}
                           {#class="col-xs-12 col-sm-3 form-control-label">Image</label>#}
                    {#<div class="col-xs-12 col-sm-9">#}
                        {#<input type="file" class="form-control"#}
                               {#name="fields[submittedImage]">#}
                    {#</div>#}
                {#</div>#}

                <div class="form-group row">
                    <div class="col-sm-offset-3 col-sm-10">
                        <button type="submit" class="btn btn-primary">Submit
                            Event
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>